body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.MainHeading {
    color: #693118;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 1.2em;
    z-index: 2;
}

h1 {
    font-size: 51px;
    font-family: "Segoe UI";
}

h2 {
    font-size: 26px;
    font-family: "Roboto";
    margin: 0;
}

#typing-effect {
    display: inline-block;
    color: #000000;
}

#typing-effect::after {
    content: "|";
    margin-left: 2px;
    opacity: 1;
    animation: blink-caret 0.75s infinite;
    color: #ff0000;
}

@keyframes blink-caret {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Background with image */
#particles-js {
    background-image: url('image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Social Icons */
.social-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.social-icons a {
    display: block;
    margin: 5px auto;
    width: fit-content;
}

.social-icons i {
    color: #fff;
    font-size: 30px;
}

.logo {
    width: 30px;
    filter: grayscale(100%);
}

/* About Me Section */
.about-me-section {
    background-color: #000000;
    position: relative;
    padding: 1px 0;
    border: 1px solid #ffffff;
}

.about-me-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #f8f8f2;
    font-family: 'Courier New', monospace;
    white-space: pre-line;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.about-me-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);
    opacity: 0.5;
    transform: skewX(-10deg);
    animation: shining 2s infinite linear;
}

@keyframes shining {
    0% { left: -100%; }
    50% { left: 100%; }
    100% { left: 100%; }
}

.about-me-content h2 {
    font-size: 24px;
    color: #f50000;
    margin-bottom: 20px;
}

.about-me-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.about-me-content button {
    background-color: #f8f8f2;
    color: #272822;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* Expertise Section */
.expertise-wrapper {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
}

.expertise-text {
    max-width: 600px;
}

/* Responsive Embed Container */
.iframe-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 9 / 16;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
